# Jekyll configuration
markdown: kramdown
highlighter: rouge
paginate: 100 # it will paginate after this number
language: 'es-mx'

# edit baseurl to simply '/' if using as your personal page (instead of a project page)
url: https://tacosdedatos.com
baseurl: /

# Website info
title: 游꺑 tacos de datos | Aprende visualizaci칩n de datos en espa침ol.
description: Tu sitio para aprender de visualizaci칩n y ciencia de datos en espa침ol. Consejos, recursos y mejores pr치cticas para tus proyectos de tecnolog칤a, periodismo de datos y an치lisis estad칤sticos.
cover: assets/images/blog-cover.png
logo: assets/images/alt-blog-icon.png # transparente para que no tape el titulo
logo_dark: assets/icons/favicon.ico
favicon: assets/icons/favicon.ico
production_url: https://tacosdedatos.com/
source_url: https://github.com/tacos-de-datos/website/
CNAME: tacosdedatos.com

# Social info
navigation: True # show the navbar links
subscribers: True # you need to connect an external service for this to work,
# if 'True' the submit button is disabled for now, but you can change that
# by editing `_includes/subscribe-form.html`
twitter: tacosdedatos # replace by your username
facebook: tacosdedatos # replace by your username
instagram: tacosdedatos
telegram: 
# https://t.me/joinchat/AAAAAFLeJg3coN-PFoWtqg
slack: tacosdedatos.slack.com
patreon: tacosdedatos

# Disqus
disqus: False
disqus_shortname: tacosdedatos # replace with your disqus username

# Google Analytics
google_analytics: UA-133541532-1 # replace with your GA tracking identifier

# Permalinks
permalink: /:title
# permalink: /author/:author
# permalink: /tag/:tag

# Authors' info in `_data/authors.yml`
# Tags' info in `_data/tags_info.yml`

# gems and other configs
plugins_dir: [_plugins]
plugins: [jekyll-paginate, jekyll-feed]

feed:
  path: feed.xml


# Settings for deploy rake task
# Username and repo of Github repo, e.g.
# https://github.com/USERNAME/REPO.git
# username defaults to ENV['GIT_NAME'] used by Travis
# repo defaults to USERNAME.github.io
# Branch defaults to "source" for USERNAME.github.io
# or "master" otherwise
safe: False
lsi: False
username: tacos-de-datos
repo: website
branch: master
relative_source: ../website/_site/
destination: _site/
production_url:  https://tacosdedatos.com/
source_url:  https://github.com/tacos-de-datos/wesbite/

exclude:
  - assets/css
  - node_modules
  - vendor
  - .travis.yml
  - Gemfile
  - Gemfile.lock
  - GHOST.txt
  - gulpfile.js
  - LICENSE
  - package.json
  - Rakefile
  - README.md
  - script.py
  - changelog.md
  - "*.Rmd"
  - .git*
