<style>
.ghost-button {
  display: inline-block;
  background-color: transparent;
  width: 250px;
  padding: 8px;
  color: #676B79;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

</style>>
<div class="ghost-button">
    <button id="activateButton" class="ghost-button">✨ activar código ✨</button>
    <script>
        var bootstrapThebe = function() {
            thebelab.bootstrap();
        }
        document.querySelector("#activateButton").addEventListener('click', bootstrapThebe)
    </script>
</div>