<style>
.ghost-button {
  display: inline-block;
  background-color: transparent;
  width: 250px;
  padding: 8px;
  color: #676B79;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

.jp-RenderedText pre {
    color: #000;
    background-color: transparent;
}

</style>>
<div class="ghost-button">
    <button id="activateButton" class="ghost-button">✨ activar código ✨</button>
    <script>
        var bootstrapThebe = function() {
            thebelab.bootstrap();
        }
        document.querySelector("#activateButton").addEventListener('click', bootstrapThebe)
        document.querySelector("#activateButton").addEventListener('click', changeNames)
        
        function changeNames() {
                run_button = document.getElementsByClassName("thebelab-run-button")[0]
                run_button.innerText = 'ejectuar'
                run_button.className += ' ghost-button'
                run_button.setAttribute('style', 'height: 20px')

                restart_button = document.getElementsByClassName("thebelab-restart-button")[0]
                restart_button.innerText = 'reiniciar'
                restart_button.className += ' ghost-button'
                restart_button.setAttribute('style', 'height: 20px')

                restart_button.setAttribute('style', 'width: 100px')
                run_button.setAttribute('style', 'width: 100px')

        }        
   
    </script>
</div>
