<style>
.ghost-button {
  display: inline-block;
  background-color: transparent;
  width: 250px;
  padding: 8px;
  color: #676B79;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

.jp-RenderedText pre {
    color: #000;
    background-color: transparent;
    overflow: scroll;
}

#thebelab-cell {
    overflow: scroll;
    max-width: 90vh;
}
  
  
</style>>
<div class="ghost-button">
    <button id="activateButton" class="ghost-button">✨ activar código ✨</button>
    <script>
        var bootstrapThebe = function() {
            thebelab.bootstrap();
        }
        document.querySelector("#activateButton").addEventListener('click', bootstrapThebe)
        document.querySelector("#activateButton").addEventListener('click', changeNames)
        
        function changeNames() {
                run_button = document.getElementsByClassName("thebelab-run-button")
                for(i=0;i <= run_button.length; i++) {
                    run_button[i].innerText = 'ejectuar'
                    run_button[i].className += ' ghost-button'
                    run_button[i].setAttribute('style', 'height: 20px')
                }
                restart_button = document.getElementsByClassName("thebelab-restart-button")
                for(i=0;i<= restart_button.length; i++) {
                    restart_button[i].innerText = 'reiniciar'
                    restart_button[i].className += ' ghost-button'
                    restart_button[i].setAttribute('style', 'height: 20px')
                }
                // restart_button.setAttribute('style', 'width: 100px')
                // run_button.setAttribute('style', 'width: 100px')

        }        
   
    </script>
</div>
